<!DOCTYPE html>

<head>
    <title>
        Request Edit
    </title>
    <%- include('./partials/css.ejs') %>
</head>

<body>
    <%- include("./partials/navBar.ejs") %>
        <h1>
            Edit request <%= request?.request_id %>
        </h1>
        <div class="container">
            <%- include("./partials/errMsg.ejs") %>
                <form action="/requests/<%= request?.request_id %>/edit" method="POST">
                    <div class="mb-3">
                        <label class="form-label">
                            Request Title
                            <input type="text" value="<%= request.request_title %>" name="title" class="form-control">
                        </label>
                    </div>
                    <div class="mb-3">

                        <label class="form-label">
                            Request #
                            <input type="text" value="<%= request.request_id %>" name="request_id" class="form-control">
                        </label>
                    </div>
                    <div class="mb-3">
                        <label class="form-label">
                            User ID
                            <input type="text" value="<%= request.user_id %>" name="user_id" class="form-control">
                        </label>
                    </div>
                    <div>
                        <button type="submit" class="btn btn-primary">Edit</button>
                    </div>
                </form>

        </div>



        <%- include("./partials/footer.ejs") %>

</body>

</html>