<!DOCTYPE html>

<head>
    <title>
        Apartment Maintenance App
    </title>
    <%- include('./partials/css.ejs') %>
</head>

<body>
    <%- include("./partials/navBar.ejs") %>
        <h1>
            Maintenance Requests
        </h1>
        <div class="col-8">
            <h2>Requests</h2>
            <%- include("./partials/errMsg.ejs") %>
                <div class="mb-1">
                    <a href="/requests/create" class="btn-primary btn">Create Request</a>
                </div>
                <table class="table table-dark table-hover">
                    <thead>
                        <tr>
                            <th scope="col">Request Title</th>
                            <th scope="col">Request #</th>
                            <th scope="col">User ID</th>
                            <th scope="col">Actions</th>
                        </tr>
                    </thead>
                    </tbody>

                    <ul>
                        <% requests.forEach(function(request){ %>
                            <tr>
                                <th scope="row">
                                    <%= request.request_title %>
                                </th>
                                <td>
                                    <%= request.request_id %>
                                </td>
                                <td>
                                    <%= request.user_id %>
                                </td>
                                <td>
                                    <a type="button" href="/requests/<%= request.request_id %>/edit"
                                        class="btn btn-primary btn-sm">Edit</a>
                                    <a type="button" href="/requests/<%= request.request_id %>/delete"
                                        class="btn btn-danger btn-sm">Delete</a>
                                </td>
                            </tr>
                            <% })%>
                    </ul>
                </table>

                <%- include("./partials/footer.ejs") %>
</body>

</html>